<!doctype html>
<html>
<head>
  <meta charset="utf-8">
	<title>Test'em</title>

  <link rel="stylesheet" href="/node_modules/jasmine-core/lib/jasmine-core/jasmine.css">

  <script src="/node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
  <script src="/node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
  <script src="/node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>

	<script src="/testem.js"></script>
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/underscore/underscore-min.js"></script>
	<script src="/node_modules/backbone/backbone-min.js"></script>
	<script src="/node_modules/protobufjs/dist/protobuf.min.js"></script>
	<script src="/dist/pbb.js"></script>

  {{#serve_files}}
  <script src="/{{src}}"></script>
  {{/serve_files}}

</head>
<body>
</body>
</html>
