<!doctype html>
<html>
<head>
  <meta charset="utf-8">
	<title>Test'em</title>

  <link rel="stylesheet" href="/node_modules/jasmine-core/lib/jasmine-core/jasmine.css">

  <script src="/node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
  <script src="/node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
  <script src="/jasmine-custom-boot.js"></script>

	<script src="/testem.js"></script>
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/underscore/underscore-min.js"></script>
	<script src="/node_modules/backbone/backbone-min.js"></script>
	<script src="/node_modules/protobufjs/dist/protobuf.min.js"></script>
	<script src="/dist/pbb.js"></script>

  <script>
      protobuf.load([
          "spec/proto/collections.proto",
          "spec/proto/models.proto",
          "spec/proto/defaults.proto",
          "spec/proto/enumerations.proto"
      ], function(err, protos) {
        PBB.load(protos.nested.collections);
        PBB.load(protos.nested.models);
        PBB.load(protos.nested.defaults);
        PBB.load(protos.nested.enumerations);

        runSpecs();
      });
  </script>
  <script>
      Testem.afterTests(
        function(config, data, callback) {
          var coverage = JSON.stringify(window.__coverage__);
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
              callback();
            }
          };
          xhr.open('POST', '/coverage', true);
          xhr.send(coverage);
        });
  </script>

  {{#serve_files}}
  <script src="/{{src}}"></script>
  {{/serve_files}}

</head>
<body>
</body>
</html>
